*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #212124;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;

}
#first {
    background-color: #286c9b;
    padding: 0px 20px;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
}
.nav-link {
    padding: 24.5px;
}
.nav-link:hover {
    background-color: #45567d;
}
.header-right a {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.header-right {
    float: right;
}
.second {
    position: relative;
    opacity: 10;
    
}
#welcome-section {
    background-color: #212124;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    
}
.first-text {
    color: #fca309;
    font-size: 30px;
    margin-top: 100px;
}
.name{
    color: #286c9b;
    font-family:cursive;
    font-size: 40px;
}
.my-img{
    width: 100%;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}
.my-image{
    background-color: #212124;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
.sec-text {
    color: #286c9b;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}
#projects {
    background-color: #45567d;

}
h2 {
    font-size: 40px;
    color: #fca309;
    border-bottom: 2px solid;
    max-width: 620px;
    text-align: center;
    word-spacing: 3px;
    white-space: wrap;
    padding-top: 70px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
}
.grid{
    border-radius: 10px;
    background-color: #286c9b;
    overflow: hidden;
    height: 80%;
    margin-bottom: -40px;
}
.grid-one{
    border-radius: 10px;
    background-color: #286c9b;
    overflow: hidden;
    height: 100%;
    margin-top: -40px;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    width: 1300px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.project-grid img{
    width: 100%;
    display: block;

}
img {
    width: 100%;
}
.project-title {
    font-size: 20px;
    background-color: #212124;
    padding: 1px;
    /* position: relative; */
}
.code {
    color: #212124;
    transition: color 0.3s ease-out;
}

.project-title:hover:before {
    content: "</";
    /* right: 0; */
    margin-right: 1px;
}
.project-title:hover::after {
    content: "/>";
    margin-left: 2px;
}

.project-title::before,.project-title::after {
    /* visibility: hidden; */
    color: #128fe9;
}
.show-btn:hover::after{
    content: ">";
    margin-left: 10px;
    color: #128fe9;
}


a {
    text-decoration: none;
    color: #fca309;

}

.show-btn {
    font-size: 20px;
    background: #212124;
    transition: background 0.3 ease-out;
    display: inline;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    left: 47%;
    transform: translateX(-47%);

}
.thrd-con {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 0 2rem;
    align-items: center;
    width: 100%;
    line-height: 5px;
}
.white {
    color: #fca309;
    line-height: 50px;

}
.h-text {
    font-size: 57px;
}
.rd-con-text {
    font-size: 20px;
    font-style: italic;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.contact-details:hover {
    transform: translateX(10px);
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
footer {
    font-weight: 300;
    padding: 2rem;
    border-top: 4px solid #286c9b;
    border-bottom: 10px solid #286c9b;
    color: #fca309;
    text-align: center;
}
.foot {
    color: #0686e2;
    font-size: 25px;
    display: inline-block;
}
.foot:hover {
    transform: translateX(15px);
    transition: transform 0.3s ease-out;
}
@media screen and (max-width: 1220px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2.5rem;
        width: 1300px;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        
    } 
}
@media screen and (max-width: 932px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2.5rem;
        width: 1200px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        
    } 
}
@media screen and (max-width: 700px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2.5rem;
        width: 1200px;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        
    }
    body {
        background-color: #303841;
        font-family: 'Poppins', sans-serif;
        line-height: 70px;
    
    } 
    .show-btn {
        font-size: 20px;
        background: #303841;
        transition: background 0.3 ease-out;
        display: inline;
        padding: 15px;
        border-radius: 4px;
        position: relative;
        left: 40%;
        transform: translateX(-40%);
    }
    h2 {
        font-size: 35px;
        color: white;
        border-bottom: 2px solid;
        text-align: center;
        word-spacing: 3px;
        padding-top: 70px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        line-height: 50px;
        width: 300px;
    }
}
@media screen and (max-width: 530px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 2.5rem;
        width: 1200px;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
    }
    h2 {
        font-size: 30px;
        color: white;
        text-align: center;
        word-spacing: 3px;
        white-space: wrap;
        padding-top: 150px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        line-height: 50px;
        width: 300px;
    } 
    .contact-links {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 980px;
        margin-top: 4rem;
        flex-wrap: wrap;
    }
    .h-text {
        font-size: 37px;
    }
    .project-title {
        font-size: 15px;
        background-color: #303841;
    }

}
@media screen and (max-width: 454px){
    #first {
        background-color: #286c9b;
        padding: 0px 80px;
        position: fixed;
        width: 100%;
        z-index: 9;
        top: 0;
        text-align: center;
    }
    .nav-link {
        padding: 24.5px;
        margin-left: 30px;

    }
    .first-text{
        margin-top: 260px;
    }
} 
